.main-banner-wrap
  width: 100%
  height: 100vh
  overflow: hidden
  .left-part
    z-index: 5
    width: 40%
    display: inline-block
    position: relative
    height: 100%
    .svg-img-bg
      left: -80px
      right: -20px
      top: -50px
      bottom: -50px
      @media screen and (min-device-width: 1700px) and (-webkit-min-device-pixel-ratio: 2)
        right: -35px
    .content-banner
      position: absolute
      width: 100%
      height: 100%
      .header
        margin: 20px 40px 0
        position: relative
        border-bottom: 1px solid rgba($gray, 0.2)
        .logo
          svg
            padding: 10px
            width: 165px
            height: 185px
        .nav-box
          position: absolute
          right: 0
          top: 70px
          text-align: right
          .number
            color: $red
            font-size: 40px
            font-family: Hamerslag
            font-weight: 600
            letter-spacing: 1px
            span
              color: $dark
          .nav
            margin-top: 30px
            li
              display: inline-block
              margin-right: 30px
              font-size: 14px
              +transition(.3s)
              &:last-child
                margin-right: 0 !important
              &:hover
                color: $red

    
      .info-slider
        width: 500px
        max-width: 90%
        height: 600px
        margin: 100px auto
        position: relative
        z-index: 5
        @media screen and (min-device-width: 1700px) and (-webkit-min-device-pixel-ratio: 2)
          height: 500px
        .content-slider
          position: absolute
          opacity: 0
          +transition(.5s)
          // +translate(-100%,0)
          &.visible
            opacity: 1
            // +translate(0,0)
          .head-title
            font-size: 94px
            line-height: 1
            padding-bottom: 70px

        .button
          position: absolute
          right: 0
          bottom: 0
          +translate(100%,0)
          padding: 25px

      .svg
        position: absolute
        left: -60px
        bottom: 0
        pointer-events: none
        width: 300px  
        svg
          width: 100%
          height: 100%


      +breakpoint(xlarge only)
        .header
          .logo
            svg
              width: 80px
              height: 100px
          .nav-box
            top: 20px
            .number
              font-size: 31px
            .nav
              margin-top: 10px

        .info-slider
          margin: 20px 0 20px 40px
          height: 480px
          .content-slider
            .head-title
              padding: 50px 0 30px
              font-size: 80px
          .button
            +translate(50%,0)
        .svg
          svg
            width: 80%

      +breakpoint(medium only)
        .info-slider
          .content-slider
            .head-title
              font-size: 70px





  .right-part
    width: 60%
    height: 100vh
    z-index: 2
    display: inline-block
    position: relative
    li
      height: 100vh

  +breakpoint(large down)
    .left-part
      .content-banner
        .header
          margin: 20px 5px 0 5px
          .logo
            svg
              width: 70px
              height: 80px
          .nav-box
            top: 10px
            .number
              font-size: 25px
              float: right
            .nav
              margin-top: 10px
              .nav-list
                display: inline-block
                margin-top: 10px
                li
                  margin-right: 15px
                  font-size: 12px


  +breakpoint(small only)
    height: 85vh
    .left-part, .right-part
      width: 100%
      height: 30vh
      .img-bg
        position: relative
        background-size: contain
        height: 300px

      .content-banner
        .header
          margin: 20px 20px 0 20px
          .logo
            svg
              width: 80px
              height: 100px
              position: relative
              top: -10px
              padding: 4px
          .nav-box
            top: 20px 
        .info-slider
          margin-left: 20px
          margin-top: 50px
          height: 180px
          .content-slider
            .head-title
              font-size: 40px
          .button
            bottom: -200px
            right: initial
            left: 45px
            +translate(-20%,0)
    .right-part
      height: 60vh

  @media screen and (max-width: 360px)
    height: 95vh
    .left-part
      height: 33vh
      .content-banner
        .info-slider
          .button
            bottom: -145px

