.footer-box
  background: $red
  padding: 140px 0 0
  margin-top: -100px
  +clearfix

  &.home-footer-box
    margin-top: -250px

  .logo
    width: 125px
    height: 200px
    margin-right: 20px
    line-height: 1.5
    font-size: 12px
    svg
      *
        fill: white
    & + p, & + div
      padding-left: 20px
      border-left: 1px solid rgba(white, 0.5)
      width: 65%
      color: rgba(white, 0.5)
      font-size: 12px
      line-height: 1.5

  .right-box
    padding-top: 50px
    text-align: right
  .number-box, .socials-box
    color: white
    display: inline-block

    .number
      font-size: 30px
      font-family: Hamerslag
      margin-right: 40px
    .social
      float: right
      &:first-child
        margin-left: 15px
      svg
        width: 40px
        height: 40px

    .location, .mail
      display: block
      vertical-align: middle
      svg
        width: 20px
        height: 20px
        margin-right: 5px
        vertical-align: middle
    .location
      margin-top: 72px
    .mail
      text-align: right
      margin-right: 40px
      margin-top: 30px
    
  .sub-footer
    background: $dark
    color: rgba(white, 0.5)
    padding: 25px 0
    font-size: 12px
    .developers
      position: relative
      padding-left: 50px
      display: block
      cursor: pointer
      +transition(.3s)
      svg
        +transition(.3s)
        position: absolute
        left: 0
        top: 0
        width: 40px
        height: 40px
        *
          fill: rgba(white, 0.7)
      span 
        line-height: 1
        vertical-align: sub
        color: rgba(white, 0.7)
      &:hover
        svg
          *
            fill: $red
    .copyright
      text-align: right
      color: rgba(white, 0.7)

  +breakpoint(small only)
    margin-top: -30px
    padding: 40px 0 0
    .right-box
      text-align: center
      padding-top: 0
      .number-box
        padding-bottom: 30px
        .mail, .location
          text-align: left
          margin-right: 0
          margin-top: 20px
          display: inline-block
        .mail
          margin-right: 25px

    .sub-footer
      .copyright
        margin-top: 20px
        text-align: left
      .hidden-svg 
        position: absolute
        right: -99999px
        background-image: image_url("icons/button-hover.svg")
