form
  position: relative
  padding: 0 100px 50px 100px 
  +breakpoint(small only)
    padding: 0
  .input-field
    position: relative
    margin: 50px 0
    &:before, &:after
      content: ""
      position: absolute
      background: rgba($dark, 0.3)
    &:before
      height: 60px
      width: 1px
      left: 10px
    &:after
      height: 1px
      width: 70px
      left: -6px
      bottom: -6px
    &.note
      &:before
        height: 155px



    input, textarea, select
      display: block
      padding: 10px 0 10px 20px
      width: 100%
      border: none
      outline: none
      background-color: transparent
      border-bottom: 1px solid rgba($dark, 0.3)
      line-height: 1.5
      color: $dark
      &:focus
        outline: none
    label
      font-size: 0.875rem
      position: absolute
      left: 20px
      pointer-events: none
      top: 15px
      transition: all 0.2s ease
      color: rgba($dark, 0.3)
      font-style: italic
      &.smaller
        font-size: 0.75rem

    .bar
      position: relative
      display: block
      width: 100%
      &:before, &:after
        content: ''
        height: 1px
        width: 0
        bottom: 0
        position: absolute
        background: rgba($dark, 0.3)
        transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1)
      &:before
        left: 0

    input:focus ~ .bar, input.used ~ .bar
      &:before
        width: 100%
    input:focus ~ label, input.used ~ label, textarea:focus ~ label, textarea.used ~ label
      color: $dark
      top: -2px
      font-size: 0.5em

.form-container.sent
  form
    display: none


.input-field
  .error-message
    color: #981f33
    font-size: 14px
    position: absolute
    bottom: -30px
    left: 21px
    display: none

  &.invalid-required
    .error-message-required
      display: block


