p
  font-size: 16px
  line-height: 1.8
  +breakpoint(xlarge down)
    font-size: 14px

#bx-pager-baner
  position: absolute
  bottom: 0
  left: 0
  .bx-pager-item
    display: inline-block
    cursor: pointer
    margin-right: 20px
    a
      font-size: 20px
      font-family: Hamerslag_Demi
      color: #bba9a3
      &.active
        color: $dark
  +breakpoint(small only)
    position: relative
    bottom: initial
    top: 70px
.svg-line
  position: absolute
  right: 0
  top: 0
  svg
    width: 100%
    height: 100%
  &.big