.popup-wrap, .popup-order-wrap
  position: fixed
  width: 80%
  height: 85vh
  z-index: 200
  opacity: 0
  pointer-events: none
  // overflow: hidden
  left: 50%
  top: 50%
  +translate(-50%,-50%)
  +transition(0.25s)
  +breakpoint(medium only)
    height: 70vh
  @media screen and (min-device-width: 1700px)
    height: 90vh
  &.visible
    opacity: 1
    pointer-events: initial

  .prev-slide, .next-slide
    top: 50%
  .prev-slide
    +translate(-100%,-50%)
  .next-slide
    +translate(200%,-50%)

  .text-holder
    width: 40%
    position: relative
    display: inline-block
    right: -30px
    z-index: 10
    vertical-align: top
    height: 760px
    &:last-child
      width: 60%
    .svg-img-bg
      top: -20px
      bottom: -20px 
    .head-title-box
      position: relative
      width: 90%
      padding: 50px 0 40px 112px
      .title
        position: relative
        font-size: 85px
        line-height: 1

    .content-info
      position: relative
      padding: 0 60px 50px 112px
      overflow: hidden
      p
        padding-bottom: 30px
      .sub-title
        color: $red
    @media screen and (min-device-width: 1700px) and (-webkit-min-device-pixel-ratio: 2)
      height: 680px
    @media screen and (max-width: 1600px)
      height: 630px
    @media screen and (max-width: 1536px)
      height: 605px
    +breakpoint(xlarge only)
      height: 545px
      .head-title-box
        padding: 52px 0 0 52px
        font-size: 65px
        // height: 175px
        .title
          font-size: 55px
      .content-info
        padding: 20px 50px 50px 52px
        p
          padding-bottom: 20px

  .close_popup
    position: absolute
    top: 0
    left: 23px
    width: 50px
    height: 50px
    cursor: pointer
    background: $dark
    cursor: pointer
    z-index: 10
    border: 10px solid
    border-image: image_url('icons/button-border.png') 30 round round
    svg
      width: 20px
      height: 20px
      +rotate(45deg)
      +centered-inside
    &:hover
      svg
        fill: #F8F7F3


  .img-holder
    display: inline-block
    position: relative
    padding-bottom: 50%
    width: 60%
    .button
      z-index: 10
      position: absolute
      left: 0
      bottom: 50px
      +translate(-30%,0)

  +breakpoint(medium only)
    .text-holder
      width: 50%
      height: 640px
      .svg-img-bg
        top: 0
      .head-title-box
        // height: 165px
        padding: 70px 0 20px 20px
        .title
          font-size: 30px
      .content-info
        padding: 0 20px 50px 20px
    .img-holder
      padding-bottom: 100%
      width: 50%
      top: 32px
      .button
    .next-slide
      +translate(150%,-50%)
      
  +breakpoint(small only)
    width: 100%
    height: 100vh
    left: 0
    top: 0

    +translate(0,0)
    .prev-slide
      +translate(0,0)
      right: 0
      top: 0
    .next-slide
      +translate(0,0)
      right: 0
      top: 0
    .text-holder
      width: 100%
      height: auto
      right: 0
      left: 0
      .head-title-box
        // height: 125px
        width: 90%
        padding: 60px 0 10px 50px
        .title
          font-size: 30px
      .content-info
        padding: 10px 20px 0 50px
    .img-holder
      width: 100%
      .button
        top: -30px
        right: 20px
        left: initial
        bottom: initial
        +translate(-100%,0)


.popup-order-wrap
  width: 700px
  max-width: 100%
  .order-content
    position: relative
    min-height: 180px

  .head-container, .head-acept
    position: relative
    padding: 50px 100px 0
    text-align: center
    font-size: 50px
    font-family: Hamerslag
    +transition(.3s)
    .inner
      top: 50%
      width: 90%
      +x-align
      .section-sub
        font-size: 18px
        line-height: 1.5
  .head-container
    opacity: 1
    &.hidden
      opacity: 0
  .head-acept
    opacity: 0
    +translate(0,-100%)
    &.visible
      opacity: 1
      +translate(0,-85%)

  .button
    +x-align
    bottom: -20px

  +breakpoint(small only)
    overflow: auto
    width: 400px
    .svg-img-bg
      left: -30px
      // min-height: 100vmax
    form
      padding-bottom: 100px
    .head-container, .head-acept
      padding: 50px 100px 55px
    .head-acept
      padding: 50px 100px 200px
      .title
        line-height: 1
        padding-bottom: 20px