- request_url_in_admin_panel = "#{@admin_root}/#{@request.class.name.underscore.gsub(/\//, "~")}/#{@request.id}/edit"
= render "application_mailer/header"

- keys = [:role, :name, :email, :phone, :address, :attachment, :comment]
- keys.each do |k|
  - next if !@request.respond_to?(k)
  - v = @request.send(k)
  - next if v.blank? || (v.is_a?(Paperclip::Attachment) && !v.exists?)
  - label_text = I18n.t("forms.#{@request.class.name.underscore}.#{k}", raise: true) rescue I18n.t("forms.#{k}", raise: true) rescue k.to_s.humanize
  - label_text = k.to_s.humanize if label_text.blank?
  - label_text += ":"
  p
    = label_text
  p
    - if v.is_a?(Paperclip::Attachment)
      a href=(@host+v.url)
        = label_text
    - if k == :role
      = (role_name = @request.role_name).present? ? role_name : "-"
    - else
      = v
  - if @request.respond_to?(:product) && @request.product
    p
      |Product name
    p
      = @request.product.name


p
  a href=request_url_in_admin_panel
    = I18n.t("mailer.link_to_request_in_admin", raise: true) rescue "link_to_request_in_admin".humanize
- if @request.respond_to?(:product) && @request.product
  p
    a href="#{@admin_root}/product/#{@request.product.id}/edit"
      = "edit product in admin".humanize

/- if @request.is_a?(VacancyRequest)
  p
    a href=vacancy_url(@request.vacancy.url_fragment)
      | Перейти на сторінку вакансії на сайті
  p
    a href="#{@admin_root}/vacancy/#{@request.vacancy_id}"
      |Перейти на сторінку вакансії в адмін-панель
