/= render_page_banner({title: "admin panel", subtitle: "please login"})
.bottom-indent
  .login-wrap

    form.form-container.order-form-container method="post" action=new_user_session_path
      .row
        .columns.medium-10.medium-centered.large-8
          p.title Вхід
          .row
            .columns
              .input-field
                input type="text" placeholder="Логін" name="user[email]"
              .input-field
                input type="password" placeholder="Пароль" name="user[password]"
            .button-holder
              button.curved-border-btn type="submit" увійти