= render "banner"

.about-us-wrap#about-us
  .row
    .columns
      .section-box.appear
        .section-title.left.article-title.appear
          = text(:about_title)
        .svg-line.fadeInUp.appear  = inline_svg "icons/lines-01.svg"
  .row
    .columns.large-10.large-centered
      .description.appear.fadeInUp 
        = text(:about_text)


  .abotu-us-banner
    .left-part
      .img-bg style="background-image: url(#{asset_path('img/about.jpg')})"
      .top-svg = inline_svg "icons/on-image-top.svg"
      .bottom-svg = inline_svg "icons/on-image-bottom.svg"
    .right-part
      .svg-img-bg
      .content-box
        .one-box
          .title.title-style.article-title.appear
            = text(:principles_title)
          p.fadeInUp.appear
            = text(:principles_text)

        .one-box
          .title.title-style.article-title.appear
            = text(:mission_title)
          = text(:mission_description)

        / .svg = inline_svg "icons/colosock-top-banner.svg"


.products-wrap#product
  .section-title.small-margin.article-title.appear
    = text(:products_title)
  .section-sub-title
    = text(:products_text)
  .row.columns-left.products-row
    / -8.times do |e|
    -@products.each do |product|
      .columns.small-6.large-3
        .one-product-box.appear data-product-id=product.id
          
          .head-box 
            .title
              = product.name
            = inline_svg "icons/line-on-article.svg"
          .square
            .img-holder
              .img-bg style="background-image: url(#{product.avatar.url(:small)})"
            .hover-block.popup_button
              .popup-button
                = inline_svg "icons/plus-on-article.svg"
                p Детальніше
            .button.order_form_button
              span
                = text(:order_button)
              

.ingredients-carousel-wrap
  .section-title.small-margin.article-title.appear
    = text(:ingredients_title)
  .section-sub-title
    = text(:ingredients_text)
  .owl-carousel.owl-carousel-ingredients
    - @ingredients.each_with_index do |ingredient, i|
      .ingredient data-index=i
        .square
          .img-bg style="background-image: url(#{ingredient.image.url(:small)})"

  .info-ingredient
    - @ingredients.each do |ingredient|
      .description
        .name-ingredient
          = ingredient.name
        p
          = ingredient.short_description


    .prev-slide = inline_svg "icons/button-slider-left.svg"
    .next-slide = inline_svg "icons/button-slider-right.svg"

.order-wrap
  .row
    .columns.large-6.large-push-6
      .order-info
        .cake-img-holder
          .img-bg style="background-image: url(#{asset_path('img/bulk-orders.jpg')})"
        .svg-img-bg
        .content-box
          .title.title-style.article-title.appear
            = text(:order_block_title)
          p.appear.fadeInUp
            = text(:order_block_text)
          .button.order_form_button
            span
              = text(:order_button)

.testemonials.fadeInUp.appear
  .section-title.small-margin.article-title.appear
    = text(:clients_title)
  .punctuation-box &#8220;
  .row
    .columns.large-8.xxlarge-10.large-centered
      .btn-box
        .prev-slide.testemonials-owl = inline_svg "icons/button-slider-left.svg"
        .next-slide.testemonials-owl = inline_svg "icons/button-slider-right.svg"

      .owl-carousel.owl-carousel-testemonials
        - @testimonials.each do |testimonial|
          div
            p
              = testimonial.short_description
            .img-box
              .img-bg style="background-image: url(#{testimonial.avatar.url(:small)})"
            .title.title-style
              = testimonial.name


.parallax-wrap
  .top-svg = inline_svg "icons/on-image-top.svg"
  .bottom-svg = inline_svg "icons/on-image-bottom.svg"
  .img-bg style="background-image: url(#{asset_path('img/slider-bottom-1.jpg')})"

.contact-form-wrap#contacts
  .row
    .large-10.columns.large-centered
      .content-box.appear.fadeInUp
        .svg-img-bg
        .inner
          = render "contact_form"