//@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700|PT+Sans+Caption:400,700&subset=cyrillic,cyrillic-ext')

@font-face
  font-family: Hamerslag
  src: font_url('titles/Hamerslag_Bold.otf')
  font-style: normal
  font-weight: 700

@font-face
  font-family: Hamerslag
  src: font_url('titles/Hamerslag_DemiBold.otf')
  font-weight: 600
  font-style: normal

@font-face
  font-family: Hamerslag
  src: font_url('titles/Hamerslag_Heavy.otf')
  font-weight: 500
  font-style: normal

@font-face
  font-family: Hamerslag
  src: font_url('titles/Hamerslag_Regular.otf')
  font-weight: 400
  font-style: normal

@font-face
  font-family: tornado
  src: font_url('titles/TRN86__c.pfm')
  font-weight: normal
  font-style: normal