html
  height: 100%
body
  min-height: 100%
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex
  flex-direction: column
  background: white
  color: $light-dark
  // font-family: 'PT Sans Caption', sans-serif
  font-family: 'Noto Sans', sans-serif
  .main-wrapper
    overflow-x: hidden
    flex: 1
  &.popup-opened
    overflow: hidden
    position: relative
    &:before
      content: ""
      position: absolute
      left: 0
      top: 0
      right: 0
      bottom: 0
      background-color: rgba(0,0,0,0.7)
      z-index: 100
      
@each $header, $font-size in (h1: 28px, h2: 24px, h3: 22px, h4: 20px, h5: 18px, h6: 16px)
  #{$header}, .#{$header}
    font-size: $font-size

.small
  font-size: 0.75rem
.smaller
  font-size: 0.875rem
.regular
  font-size: 1rem
.larger
  font-size: 1.125rem
.large
  font-size: 1.25rem


.scroll-to-top-button
  position: fixed
  bottom: 300px
  right: 15px
  z-index: 20
  height: 54px
  border: 2px solid white
  cursor: pointer

  svg
    width: 50px
    height: 50px
    transform: rotate(270deg)
    display: block

.js
  .appear
    opacity: 0

  .appear-tree
    *
      opacity: 0

  .appeared
    opacity: 1