.about-us-wrap
  .section-box
    position: relative
    .svg-line
      top: 30px
      width: 400px
      +breakpoint(large down)
        top: -20px
  .description
    column-count: 2
  +breakpoint(small only)
    .section-box
      .svg-line
        top: -20px
        width: 200px
    .description
      column-count: 1

  .abotu-us-banner
    margin-top: 100px
    padding: 100px 0
    overflow: hidden
    .left-part
      width: 65%
      padding-bottom: 35%
      display: inline-block
      position: relative
      .bottom-svg
        bottom: -7px
      .top-svg
        top: -1px
      
    .right-part
      width: 35%
      vertical-align: top
      padding-bottom: 8%
      display: inline-block
      position: relative
      .svg-img-bg
        left: -60px
        right: -50px
        top: -20px
        z-index: 10
      
      .content-box
        padding: 70px 30px
        position: relative
        z-index: 10
        .one-box
          outline-style: 50px
        .title
          font-size: 50px
          padding-bottom: 20px
        p
          padding-bottom: 20px
      @media only screen and (min-width: 1600px) and (min-device-pixel-ratio: 2.25)
        .svg-img-bg
          padding-bottom: 20%
      +breakpoint(xlarge only)
        padding-bottom: 0


    +breakpoint(large down)

      padding: 0
      margin-top: 50px
      .left-part
        width: 100%
        padding-bottom: 60%
      .right-part
        width: 100%
        .content-box
          padding: 10px 30px
          .title
            font-size: 34px


.products-wrap
  .one-product-box
    padding-bottom: 50px
    margin-bottom: 50px
    position: relative
    overflow: hidden
    .head-box
      position: relative
      .title
        font-size: 24px
        color: $black
        font-family: Hamerslag
        font-family: 400
        padding-bottom: 20px
      svg
        position: absolute
        top: 4px
        right: -60px
        width: 200px
        height: 130px
    .square
      cursor: pointer
      // overflow: hidden
      +transition(.3s)
      .img-holder
        +fullsize
        overflow: hidden
      .hover-block
        opacity: 0
        +transition(.3s)
        +fullsize
        background-color: rgba(0,0,0,0.7)
        .popup-button
          +xy-align
          text-align: center
          color: white
          svg
            width: 17px
            height: 17px
      .button
        +x-align
        z-index: 5
        bottom: 0
        +translate(-50%, 100%)
        opacity: 0
        +transition(.4s)
      &:hover 
        .img-bg
          +scale(1.1)
        .hover-block
          opacity: 1
        .popup-button
        .button
          +translate(-50%, 50%)
          opacity: 1

    +breakpoint(small only)
      margin-bottom: 0
      .head-box
        .title
          font-size: 18px
          line-height: 18px
          padding-bottom: 10px
          height: 38px
        svg
          display: none

.ingredients-carousel-wrap
  .owl-carousel
    div
      .square
        width: 60%
        margin: auto

    .owl-item
      opacity: 0.5
      &.center
        +transition(.3s)
        opacity: 1
        +scale(1.3)

  .info-ingredient
    width: 400px
    max-width: 90%
    text-align: center
    margin: 50px auto
    position: relative
    height: 150px
    .description
      opacity: 0
      position: absolute
      +transition(.3s)
      &.active
        opacity: 1
      .name-ingredient
        padding-bottom: 10px
        font-size: 32px
        font-family: Hamerslag
        color: $black
      p
        max-height: 120px
        overflow: hidden

    .prev-slide 
      left: -50px
    .next-slide
      right: -50px

    +breakpoint(small only)
      .prev-slide 
        left: 0
      .next-slide
        right: 0

.order-wrap
  margin-bottom: 150px
  .order-info
    position: relative
    padding: 100px 0 100px 150px
    .cake-img-holder
      width: 700px
      height: 500px
      position: absolute
      +translate(-90%,0%)
      .img-bg
        background-size: contain
    .svg-img-bg
      width: 60%
      background-size: contain
    .content-box
      position: relative
      .title
        font-size: 70px
        & + p
          width: 80%
          padding: 40px 0

  +breakpoint(large down)
    .order-info
      padding: 100px 0 100px 300px
      .cake-img-holder
        +translate(-85%,0)
      .svg-img-bg
        left: 200px
      .content-box
        .title
          font-size: 55px

  +breakpoint(small only)
    margin-bottom: 0
    .order-info
      padding: 100px 0 100px 150px
      .cake-img-holder
        width: 350px
        height: 350px
      .svg-img-bg
        left: 100px
        width: 70%
        top: -50px
      .content-box  
        .title
          font-size: 32px
          line-height: 1
          & + p
            width: 100%
            padding: 20px 0

.testemonials
  position: relative
  .punctuation-box
    font-size: 130px
    color: $red
    position: relative
    font-family: -WEBKIT-PICTOGRAPH
    text-align: center
    width: 200px
    margin: 50px auto
    line-height: 0.5
    &:before, &:after
      content: ""
      height: 1px
      width: 100px
      background-color: rgba($gray, 0.5)
      position: absolute
      text-align: center

    &:before
      left: -100px
    &:after
      right: -100px

  .btn-box
    position: relative
  .owl-carousel-testemonials
    div
      text-align: center
      font-size: 22px
      font-style: italic
      color: $dark
      .img-box
        width: 70px
        height: 70px
        border-radius: 50%
        margin: auto
        position: relative
        margin-top: 20px
        .img-bg
          border-radius: 50%
      p
        font-size: 24px
        font-family: georgia
        font-style: italic

  +breakpoint(large down)
    .btn-box
      position: absolute
      width: 95%
      bottom: 100px

  +breakpoint(small only)
    .section-title
      margin: 10px 0 40px 
    .punctuation-box
      width: 135px
      font-size: 100px
      margin: 10px auto
    
    .owl-carousel-testemonials
      div
        p
          font-size: 18px

.parallax-wrap
  position: relative
  padding-bottom: 45%
  margin-top: 50px
  .img-bg
    background-attachment: fixed
  .top-svg
    top: -1px
  .bottom-svg
    bottom: -6px

  +breakpoint(small only)
    padding-bottom: 70%
    .bottom-svg
      bottom: -7px
.contact-form-wrap
  .content-box
    z-index: 10
    //margin-top: -150px
    top: -150px
    //+transform(none !important)
  .content-box, .inner
    position: relative
    
    .inner
      padding: 50px

      .titles-box
        position: relative
        height: 200px
      .head-acept, .head-container
        +x-align
        +transition(.3s)
        +breakpoint(small only)
          width: 300px
        .section-title
          line-height: 1
      .head-container
        opacity: 1
        &.hidden
          opacity: 0

      .head-acept
        opacity: 0
        +translate(-50%,-50%)
        &.visible
          opacity: 1
          +translate(-50%,0)
      
      .button 
        bottom: 0
        +x-align

  +breakpoint(small only)
    .content-box
      margin-top: -50px
      .inner
        padding: 50px 25px 100px
        .button 
          +translate(-50%, 100%)
        .section-sub-title
          padding-bottom: 0px
