.row.columns-left
  .columns
    float: left !important

.dib
  display: inline-block
  vertical-align: middle
  line-height: 1

.clearfix
  position: relative
  +clearfix
  .floated
    float: left
  .floated-right
    float: right

.float-right
  +breakpoint(medium up)
    float: right !important
.float-left
  +breakpoint(medium up)
    float: left !important

.mobile
  +breakpoint(medium up)
    display: none !important
.desktop
  +breakpoint(small only)
    display: none !important

.img-container
  position: relative
  width: 100%
  height: 0
  padding-bottom: 56%
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  overflow: hidden

.img-bg
  +fullsize
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  +transition(1s)

.lightened
  +grayscale
  background-color: rgba(255,255,255,0.75)
  background-blend-mode: lighten

.darken
  +grayscale
  background-color: rgba(0,0,0,0.25)
  background-blend-mode: darken

.square
  position: relative
  width: 90%
  &:before
    +square
    
.svg-bg
  +fullsize
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  background-image: image_url('icons/backgeound.svg')

.svg-img-bg
  +fullsize
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  background-image: image_url('icons/backgeound.png')

// .svg-img-bg-preloder
//   +fullsize
//   background-position: center
//   background-size: 100% 100%
//   background-repeat: no-repeat
//   background-image: image_url('icons/backgeound-preloader.png')

.section-title
  text-align: center
  letter-spacing: 1px
  font-size: 70px
  font-family: Hamerslag
  color: $dark
  margin: 100px 0 50px
  font-weight: 600
  &.left
    text-align: left
  &.small-margin
    margin: 10px 0 20px
  +breakpoint(small only)
    font-size: 40px
    margin: 50px 0

.section-sub-title
  font-size: 18px
  line-height: 1.5
  color: $dark
  text-align: center
  width: 700px
  max-width: 100%
  margin: auto
  padding-bottom: 50px
  +breakpoint(small only)
    font-size: 14px

.title-style
  color: $dark
  font-family: Hamerslag
  font-weight: 600


.button
  background-position: center
  background-size: contain
  background-repeat: no-repeat
  background-image: image_url("icons/button.svg")
  display: inline-block
  cursor: pointer
  +transition(.2s)
  span
    color: white
    font-family: Hamerslag
    padding: 0 30px
    line-height: 2
    font-size: 28px
    position: relative

  &.head
    span
      font-size: 38px

  &:hover
    background-size: contain
    background-image: image_url("icons/button-hover.svg")

.btn
  cursor: pointer
  svg
    width: 32px
    height: 32px
    margin-right: 5px
  span, svg
    vertical-align: middle
    font-size: 23px
    font-family: Hamerslag



.prev-slide, .next-slide
  position: absolute
  height: 50px
  width: 50px
  top: 0
  z-index: 50
  cursor: pointer
  transition: 0.5s
  display: inline-block
  svg
    width: 40px
    height: 40px
    +centered-inside
  

.prev-slide
  left: 0
  &.testemonials-owl
    left: -150px
    +breakpoint(large down)
      left: 0
.next-slide
  right: 0
  &.testemonials-owl
    right: -150px
    +breakpoint(large down)
      right: 0


.owl-dots
  .owl-dot
    background-color: #ddcdbc
    border-radius: 50%
    width: 10px
    height: 10px
    margin: 20px 10px 0 10px
    &.active
      background-color: $red

.top-svg, .bottom-svg
  width: 100%
  position: absolute
  left: 0
  right: 0
  z-index: 10
.top-svg
  top: 0
.bottom-svg
  bottom: -5px
