.main-banner-wrap#main_banner
  .left-part
    .svg-img-bg
    .content-banner
      .header
        .logo = inline_svg "icons/logo.svg"
        .nav-box
          a.number href="tel: 0974331313"
            |097&nbsp
            span
              | 433 13 13
          .nav
            ul.nav-list
              li
                a href="#about-us"
                  = text(:menu_about_us)
              li
                a href="#product"
                  = text(:menu_products)
              li
                a href="#contacts"
                  = text(:menu_contacts)

      .info-slider
        - @featured_products.each_with_index do |product, i|
          .content-slider class=("visible" if i == 0) data-product-id=product.id
            .head-title.title-style.article-title.appear
              = product.name
            .desktop
              = raw product.description

        .button.head.order_form_button
          span Замовити

        #bx-pager-baner.desktop
          - @featured_products.each_with_index do |p, i|
            .bx-pager-item
              a data-slide-index=i
                = i + 1

      .svg.desktop = inline_svg "icons/colosock-top-banner.svg"
  
  .right-part
    ul.main-banner-slider
      - @featured_products.each do |product|
        li
          .img-bg style="background-image: url(#{product.featured_image.url(:large)})"
