.form-container.contact-form-container
  .titles-box
    .head-container
      .section-title.small-margin.article-title.appear
        = text(:contact_form_title)
      .section-sub-title
        = text(:contact_form_text)

    .head-acept
      .section-title.small-margin
        = text(:form_success_title)
      .section-sub-title
        = text(:form_success_text)

  form.ajax-form name="form" data-url=contact_request_path data-resource-name="contact_request"
    button.button.button-form
      span
        = text(:submit_button)
    .row
      .medium-6.large-6.columns
        .input-field.required
          input#name name="name"
          label
            = label_text(:name, required: true)
          span.bar

        .input-field.input-phone.required
          input#number name="phone"
          label
            = label_text(:phone, required: true)
          span.bar


      .medium-6.large-6.columns
        .input-field.note
          textarea#note rows="5" name="comment"
          label
            = label_text(:comment)


