.footer-box class=("home-footer-box" if controller_name == "pages" && action_name == "index")
  .row
    .medium-6.large-5.columns
      a.logo.dib.desktop href="#main_banner" = inline_svg "icons/logo.svg"
      .dib.desktop
        = text(:footer_about_short_description)
    .medium-6.large-5.columns
      .right-box
      
        .socials-box.mobile
          a.social href="https://www.facebook.com/SolodkyiRobert/" target="_blank" title=html_title(:social_facebook)
            = inline_svg "icons/fb.svg"
          a.social href="https://www.instagram.com/solodkyi_robert/" target="_blank" title=html_title(:social_instagram)
            = inline_svg "icons/insta.svg"

        .number-box
          a.number href="tel: 097 433 13 13" 097 433 13 13
          / a.number href="tel: 097 219 96 64" 097 219 96 64
          a.mail href="mailto: info@solodkyirobert.com" title=html_title(:email_link)
            = inline_svg "icons/mail.svg"
            span info@solodkyirobert.com
          a.location.mobile target="_blank" href="https://www.google.com.ua/maps/@49.8358111,24.0325606,16z"
            = inline_svg "icons/gps.svg"
            span м. Львів

        .socials-box.desktop
          a.social href="https://www.facebook.com/SolodkyiRobert/" target="_blank" title=html_title(:social_facebook)
            = inline_svg "icons/fb.svg"
          a.social href="https://www.instagram.com/solodkyi_robert/" target="_blank" title=html_title(:social_instagram)
            = inline_svg "icons/insta.svg"
          a.location href="https://www.google.com.ua/maps/@49.8358111,24.0325606,16z" title=html_title(:map_link)
            = inline_svg "icons/gps.svg"
            span м. Львів
            
  .sub-footer
    .row
      .medium-6.columns
        a.developers href="http://voroninstudio.eu/ru" target="_blank"
          = inline_svg "svg/voronin-logo.svg"
          span 
            = text(:footer_developed_by)
      .medium-6.columns
        .copyright
          = footer_copyright_text
        .hidden-svg 