.popup-order-wrap
  .order-content
    .close_popup title=html_title(:close_button)
      = inline_svg "icons/plus-on-article.svg"
    .svg-img-bg
    .form-container.order-form-container
      .head-container
        .inner
          .title.title-stule
            = text(:order_form_title)
          .section-sub
            = text(:order_form_text)
      .head-acept
        .inner
          .title.title-stule
            = text(:form_success_title)
          .section-sub
            = text(:form_success_text)
      form.ajax-form.order-form data-url=order_request_path
        button.button.button-form
          span
            = text(:order_button)

        .input-field.required
          input#name name="name"
          label
            = label_text(:name, required: true)
          span.bar

        .input-field.input-phone.required
          input#number name="phone"
          label
            = label_text(:phone, required: true)
          span.bar