- if @show_products_popup
  .popup-wrap.popup-slider-wrap
    .prev-slide.desktop = inline_svg "icons/button-slider-left.svg"
    .next-slide.desktop = inline_svg "icons/button-slider-right.svg"
    ul.popup-slider
      -@products.each do |product|
        li
          .text-holder
            .svg-img-bg
            .close_popup
              = inline_svg "icons/plus-on-article.svg"
            .head-title-box
              .title.title-style
                = product.name
            .content-info
              = raw product.description

              - if product.weight_description.present?
                .sub-title
                  = text(:product_weight)
                p
                  = product.weight_description
              - if product.expiration_period_description.present?
                .sub-title
                  = text(:product_expiration_period)
                p
                  = product.expiration_period_description


          .img-holder
            .img-bg style="background-image: url(#{product.large_image.url(:large)})"
            .button.order_form_button
              span
                = text(:order_button)

