#loader-wrapper
  .vertical-centered-box
    .content
      .img-bg style="background-image: url(#{asset_path('img/preloder.jpg')})"

  .imgWrapper
    .svg-img-bg-preloder
      .img-bg style="background-image: url(#{asset_path('icons/backgeound-preloader.png')})"

    .line-one
    .line-two
    .line-three
    .line-four

    .logo-box
      = inline_svg "icons/logo.svg"