doctype html
html lang=I18n.locale
  head
    meta charset="utf-8"
    = seo_tags

    - ["16x16", "32x32", "96x96", "96x96", "196x196", "228x228"].each do |s|
      link rel="icon" type="image/png" href=asset_path("favicon/favicon-#{s}.png") sizes=s

    link rel="apple-touch-icon-precomposed" sizes="76x76" href=asset_path("favicon/favicon-ipad.png")
    link rel="apple-touch-icon-precomposed" sizes="180x180" href=asset_path("favicon/favicon-iphone-6plus.png")
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    - if !devise_controller?
      javascript:
        document.getElementsByTagName("html")[0].className = "js"
      = inline_css("preloader")
    
    = csrf_meta_tags
    = google_site_verification
  body
    - if !devise_controller?
      = render "preloader"
    = render "popup_order"
    = render "popup_produktion"
    .scroll-to-top-button title=html_title(:scroll_up)
      = embedded_svg_from_assets("icons/button-slider-right.svg")
    .main-wrapper
    
      = yield
    = render "footer"
    = stylesheet_link_tag    "application", media: 'all', 'data-turbolinks-track' => true
    - if !devise_controller?
      = javascript_include_tag "application", 'data-turbolinks-track' => true
      script src="//ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"
      = render "layouts/fonts"
    = render "cms/fb_pixel"
    = render "cms/gtm"